html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1d;
  color: #ffffff;
}

.NavBar {
  margin-bottom: 3em;
}

button {
  background: #6f2232;
  padding: 10px 38px;
  color: #950740;
  letter-spacing: 0px;
  border-radius: 20em;
  font-size: 1em;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  color: #110b07;
}

.wines {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #130c08;
  z-index: 1;
}

#wrap {
  position: absolute;
  left: 0%;
  top: -8%;
  width: 150%;
  height: 100%;
  display: flex;
  margin: 0 25%;
}

.block {
  position: relative;
  width: 25%;
  z-index: 1;
  display: flex;
  align-items: center;
  z-index: 2;
  transform: scale(0.97);
}

.product {
  position: relative;
  display: block;
  max-width: 80%;
}

.product img {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  z-index: 2;
} 

input[type='text'] {
  font-weight: 400;
  opacity: .8;
  color: white;
  border-color: grey;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 5%;
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type='text-center'] {
  font-weight: 400;
  background: white;
  opacity: .9;
  color: black;
  border-color: grey;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 5%;
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: right;
  vertical-align: top;
}
.signin-text {
  font-weight: 400;
  color: black;
  border-color: grey;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 30%;
  margin-right: 5%;
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
}

.ResultText {
  font-weight: 400;
  color: white;
  border-color: grey;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 5%;
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
}


/* input[type="number"] {
  font-weight: 400;
  background: #000000;
  opacity: .8;
  color: #ffffff;
  border-color: grey;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 5%;
  width: 40%;
  height: 3em;
  box-sizing: border-box;
  font-size: 14px;
} */

textarea {
  font-weight: 400;
  background: #1a1a1d;
  opacity: .8;
  color: white;
  border-color: grey;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.txt {
  position: absolute;
  top: 104%;
  left: 2%;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
  z-index: 1;
  transform: scaleY(1) translateY(-30px);
  transition: transform .2s;
}

.txt p {
  margin-bottom: 20px;
}

.wines button {
  margin-top: 10px;
  padding: 16px 28px;
}

.block:hover .txt {
  /* opacity: 1; */
  transform: scaleY(1) translateY(0);
}

.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2.5em;
  letter-spacing: 2px;
  font-size: 0.8em;
  /* font-family: Helvetica; */
  color: #765936;
  transition: 0.3s;
  z-index: 3;
  cursor: pointer;
}

.close-btn:hover {
  color: #e7ad68;
  transition: 0.3s;
}

.bn39 {
  background-image: linear-gradient(135deg, darkred, purple);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  float: right;
  height: 5%;
  font-size: 100%;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 5em;
  z-index: 2;
  margin-top: .3em;
  margin-left: .5em;
}

.bn39 .bn39span {
  align-items: center;
  background: #950740;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.signuplabel {
  font-size: 1.5em;
  color: #c3073f
}

.signupfield {
  /* margin-left: 2em; */
  width: 30em;
  height: 3em;
  opacity: .8;
  background: #000000;
  color: #ffffff;
}

.signinfield {
  width: 30em;
  height: 3em;
  opacity: .8;
  background: #000000;
  color: #ffffff;
}

.profilepagesignout {
  margin-left: 5%;
}

.StandardLink {
  color: #c3073f;
}


@media(max-width: 768px) {
  .title {
        font-size: 42px;
  }

  .tagline {
        font-size: 15px;
  }

  .outline {
        width: 92%;
  }
}


body {
  color: #ffffff;
  padding-top: 0px;
}
.value {
  text-align: right;
  font-size: 4em;
  color: #c3073f;
  width: 95%; 
  height: 30px;
  line-height: 0px;
  margin: 0px;
  letter-spacing: -.02em;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color:slategray;
  width: 63%;
  height: 1px;
  border-radius: 60px;
  border-color: slategray;
  border-width: 1px;
  margin-left: 10%;
  margin-top: -6%;
  margin-bottom: 7%;
  outline: 1px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color:#000066;
  width: 30px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  transition: .2s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #000066;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.3);
  }

  input[hideit="true"] {
      display: none;
  }
  textarea[hideit=true] {
      display: none;
  }

  textarea[type="small"] {
    font-weight: 400;
    /* background: white; */
    background: #000000;
    color: #ffffff;
    border-color: grey;
    padding: 10px 15px;
    margin-left: 10%;
    border-radius: 4px;
    width: 80%;
    height: 100px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .standardText {
    margin-left: 5%;
  }

  button.reviewbutton {
    color:black;
    /* background-color: palevioletred; */
    background-color: #950740;
    border: black;
    /* font-family: sans-serif; */
    margin: 0em;
    margin-top: 0em;
    margin-left: 25%;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .6em;
  }

  button.infobutton {
    color:white;
    background-color: black;
    /* font-family: sans-serif; */
    float: right;
    margin: 0em;
    margin-top: 0em;
    margin-right: 25%;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .5em;
  }

  button.winetoolsbutton {
    color:white;
    background: #6f2232;
    margin-top: .1em;
    padding: .5em;
    font-size: .5em;
    width: 100%;
    border: 1px solid black;
    border-radius: .3em;
    position: relative;
    width: 100%;
  }
  button.winetoolsbutton:hover {
    background: crimson;
  }

  button.winetoolsbutton-big {
    font-size: .6em;
    background: #c3073f;
    width: auto;
    float: right;
  }

  .error {
    color: crimson;
    font-size: 1.2em;
  }


  /* button[type='submit'],
  input[type='submit'] {
    background: #950740;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    width: 100%;
    font-weight: 100;
    letter-spacing: 8px;
  } */
  /* button[type='submit']:hover,
  input[type='submit']:hover {
    background: #bf1650;
  }
  button[type='submit']:active,
  input[type='button']:active,
  input[type='submit']:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
  } */


  button[type='update'],
    input[type='update'] {
    background: #950740;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    margin-top: .2em;
    margin-bottom: .2em;
    text-align: center;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 100%;
    font-weight: 100;
    letter-spacing: 8px;
  }
  button[type='update']:hover,
  input[type='update']:hover {
    background: #bf1650;
  }
  button[type='update']:active,
  input[type='update']:active,
  input[type='update']:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
  }


  button[type='delete'],
    input[type='delete'] {
    background: crimson;
    color: black;
    text-transform: uppercase;
    border: none;
    margin-top: .5em;
    margin-bottom: .2em;
    padding: 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
    font-weight: 100;
    letter-spacing: 4px;
  }
  button[type='delete']:hover,
  input[type='delete']:hover {
    background: red;
  }
  button[type='delete']:active,
  input[type='button']:active,
  input[type='delete']:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
  }

  /* button[type="menubutton"] {
    color: #950740;
    background: none;
    font-size: 60%;
    margin: .5em;
    margin-top: 0em;
    padding: 0px;
    text-transform: uppercase;
    border-width: .2em;
    border-color: #950740;

    background-image: linear-gradient(135deg, purple, darkred);
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-table;
    height: 40%;
    font-weight: 600;
    padding: 1px;
    position: top;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  } */



  button[type="StandardButton"] {
    background-color: #6f2232;
    color: white;
    font-size: 80%;
    padding: .2em;
    margin: .1em;
  }
  button[type='StandardButton']:hover {
    /* background: crimson; */
    background: yellow;
  }

  .Center {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: .2em;
    padding-bottom: 1em;
    justify-content: center;
    display: block;
  }
  .CenterImage {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-justify: center;
    width: 100vw;
    align-items: center;
    margin:auto;
  }

  .FavoriteWines {
    justify-content: center;
    margin: 0 auto;
  }

  .Loading {
    background-color: white;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-justify: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    margin:auto;
    z-index: 100000;
    position: relative;
  }

  .ReviewPage {
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: auto;
    background-position: center;
  }

  .SignInPage {
    text-align: center;
  }

  .SignUpPage {
    text-align: center;    
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }

  .formbackground {
    background: #1a1a1d;
    border-radius: 10px 20px;
  }

  .hidden {
    display: none;
  }

  .selectBox {
    color: "#ffffff";
    background-color: #000000;
  }

  textarea {
    font-weight: 300;
    background: #000000;
    color: #ffffff;
    border-color: #1a1a1d;
    padding: 10px 15px;
    border-radius: 4px;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .selectedAromas {
    margin-left: 10%;
    margin-right: 10%;
    font-size: .6em;
  }
  .selectedFlavors {
    margin-left: 10%;
    margin-right: 10%;
    font-size: .6em;
  }

  /* .WineTools {
    padding: 0em;
    margin: 0em;
  } */
  
  .WineToolsBox {
    border: 1px solid #4e4e50;
    margin: 0em;
    padding: 0em;

    /* box-shadow: none; */
    /* display: inline; */
    display: inline-block;
    width: 100%;
  }

  .sitepages {    
    width: 20%;
  }

  .Version {
    text-align: left;
    font-size: 50%;
    font-family: "Dosis", Helvetica, Arial, sans-serif; 
  }

  .ResultsTable {
    font-weight: 100;
  }
  .wineReviewName {
    font-weight: 100;
  }

  .HorizontalStack {
    box-shadow: none;
    display: inline;
    width: 100%;
  }
  .HorizontalMenuButton {
    color: #c3073f;
    background: #1a1a1d;
    margin: 0em;
    padding: .2em;
    border-radius: 0em;
    box-shadow: none;
    font-size: 1.2em;
    outline: none;
    border: 1px solid black;
    position: relative;
    width: 100%;
  }
  .HorizontalMenuButton:hover {
    background: black;
    color: crimson;
    border-bottom: 2px solid crimson;
  }
  .HorizontalMenuButton:focus {
    background: black;
    border-bottom: 2px solid crimson;
    color: crimson;
    outline: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-variant: 'Regular';
    font-weight: 400;
    color: #ffffff;
  }

  h1 {
    font-weight: 400;
    color: #c3073f;
    margin-top: 0px;
    font-size: 180%;
    text-align: center;
    padding-bottom: 0px;
    }
  h2 {
    font-size: 100%;
    margin: 0px auto;
    margin-left: 5%;
  }  
  h3 {
    color: #ffffff;
    font-size: 100%;
    margin: 1px auto;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: .2em;
    margin-bottom: .2em;
    border-top: 1px solid #4e4e50;
  }  
  h4 {
    color:white;
    border-top: 1px dashed #4e4e50;
    margin: 10px auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0em;
    font-weight: bold;
    font-size: 2em;
  }
  h5 {
    color: #6f2232;
    margin: 10px auto;
    padding: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    font-size: .8em;
    justify-self: right;
  }
  h6 {
    color:white;
    margin: 0px auto;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 200;
    font-size: 1em;
    justify-self: right;
  }
