html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
    /* background: url(two_wine_glasses.WEBP) no-repeat 50% 50%; */
    /* background: url(two_wine_glasses.WEBP); */
    background-size: cover;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
    background: url(two_wine_glasses.WEBP) ;
    background-size: cover;
    /* overflow: hidden; */
}

.outline {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 94vh;
    background: none;
    border: 1px solid rgba(200, 146, 83, 0.4);
}

.logo {
    position: fixed;
    margin: 2em 2.4em;
    transform: translate(-50%, -50%);
    font-family: "Great Vibes";
    color: #c89253;
    font-size: 36px;
    z-index: 1;
}

.menu {
    position: fixed;
    right: 0;
    margin: 3em 2em;
    transform: translate(-50%, -50%);
    color: #c89253;
    font-size: 24px;
    z-index: 1;
}

.title {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Smythe";
    color: #c89253;
    font-size: 68px;
    z-index: 1;
}

.tagline {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Great Vibes";
    color: #fff;
    font-size: 24px;
    z-index: 1;
}

.morewine {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

button {
    background: #c89253;
    padding: 10px 38px;
    color: purple;
    border: 2px solid purple;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-radius: 20em;
    font-size: 1em;
    /* opacity: 70%; */
}

button:focus {
    outline: none;
    border: none;
}

button:hover {
    /* background:red; */
    color: #110b07;
}

.wines {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #130c08;
    z-index: 1;
    /* opacity: 0; */
}

#wrap {
    position: absolute;
    left: 0%;
    top: -8%;
    width: 150%;
    height: 100%;
    display: flex;
    margin: 0 25%;
}

.block {
    position: relative;
    width: 25%;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 2;
    transform: scale(0.97);
}

.product {
    position: relative;
    display: block;
    max-width: 80%;
}

.product img {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    z-index: 2;
}

input[type='text'] {
    font-weight: 400;
    background: white;
    /* opacity: 70%; */
    color: black;
    border-color: grey;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
  }

input[type='text-center'] {
    font-weight: 400;
    background: white;
    /* opacity: 90%; */
    color: black;
    border-color: grey;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
    vertical-align: top;
}
.signin-text {
    font-weight: 400;
    color: black;
    border-color: grey;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 30%;
    margin-right: 5%;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
}


input[type="number"] {
    font-weight: 400;
    background: white;
    /* opacity: 70%; */
    color: black;
    border-color: grey;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 5%;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    font-weight: 400;
    background: white;
    /* opacity: 80%; */
    color: black;
    border-color: grey;
    padding: 10px 15px;
    border-radius: 4px;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    font-size: 14px;
  }

.txt {
    position: absolute;
    top: 104%;
    left: 2%;
    width: 80%;
    /* opacity: 0; */
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    z-index: 1;
    transform: scaleY(1) translateY(-30px);
    /* transition: transform .2s, opacity .5s; */
    transition: transform .2s;
}

.txt p {
    margin-bottom: 20px;
}

.wines button {
    margin-top: 10px;
    padding: 16px 28px;
}

h1 {
    font-family: "Smythe";
    color: #ecaa5d;
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
}

.block:hover .txt {
    /* opacity: 1; */
    transform: scaleY(1) translateY(0);
}

.close-btn {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2.5em;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-family: Helvetica;
    color: #765936;
    transition: 0.3s;
    z-index: 3;
    cursor: pointer;
}

.close-btn:hover {
    color: #e7ad68;
    transition: 0.3s;
}

.bn39 {
    background-image: linear-gradient(135deg, darkred, purple);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    float: right;
    height: 5%;
    font-size: 100%;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 5em;
    z-index: 2;
    margin-top: 0em;
    margin-left: .5em;
  }
  
  .bn39 .bn39span {
    align-items: center;
    background: purple;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .signuplabel {
    font-size: 1.5em;
  }

  .signupfield {
    margin-left: 2em;
    width: 15em;
    height: 2em;
    /* opacity: 80%; */
  }

  .profilepagesignout {
    margin-left: 5%;
  }


@media(max-width: 768px) {
    .title {
          font-size: 42px;
    }

    .tagline {
          font-size: 15px;
    }

    .outline {
          width: 92%;
    }
}